<!doctype html>
<html>
<head>
    <style>
        .error{
            color: red;
        }
        label { 
            display: block;
        }
    </style>
<title>SIGN UP</title>
</head>
    <body>
    <h1> This is a Sign-Up Sheet! </h1>
        <form method='POST'>
            <label name= "username">Username:
                <input type="text" name="username" value="{{username}}"/>
                <span class="error">{{username_error}}</span>
            </label>
            <label name="password">Password:
                <input type="text" name="password" value="{{password}}"/>
                <span class="error">{{password_error}}</span>
            </label>
            <label name="password_verify">PW Verify:
                <input type="text" name="password_verify" value="{{password_verify}}"/>
                <span class="error">{{password_verify_error}}</span>
            </label>
            <label name="email">E-mail
                <input type="text" name="email" value="{{email}}"/>
                <span class="error">{{email_error}}</span>
            </label>
            <input type="submit" />
    </body>
</html>


